<div class="item_errors_div" id="item-new-errors">
        <div>
          <% if post.errors.full_messages.any? %>
          <% post.errors.full_messages.each do |error_message| %>
          <%= error_message  %> <br />
          <% end %>
          <% end %>
        </div>
      </div>
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= form.label :caption %>
    <%= form.text_area  :caption ,class: "form-control"%>
  </div>
<div>
<div class="form-group">
   <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true ,class: "form-control"%>
   </div>
<div>

      <script>
         $(function(){
            $("input[type = 'submit']").click(function(){
               var $fileUpload = $("input[type='file']");
               if (parseInt($fileUpload.get(0).files.length) > 10){
                  alert("You are only allowed to upload a maximum of 10 files");
               }
            });
         });
      </script>

<div class="form-group">
  <div class="actions">
    <%= form.submit%>
  </div>
 </div>
<% end %>
